$TTL 1D
@   IN SOA  dns.{{ guid }}.dynamic.opentlc.com   root.dns.{{ guid }}.dynamic.opentlc.com. (
                                       2017031330      ; serial
                                       1D              ; refresh
                                       1H              ; retry
                                       1W              ; expire
                                       3H )            ; minimum
$ORIGIN         {{ guid }}.dynamic.opentlc.com.
{{ guid }}.dynamic.opentlc.com.            IN      NS      dns.{{ guid }}.dynamic.opentlc.com.
dns                     IN      A       192.168.{{ labenv_segment }}.10
*.apps    IN    A    {{ apps_ip }}
ns1       IN    A    192.168.{{ labenv_segment }}.111
bastion   IN    A    192.168.{{ labenv_segment }}.10
api       IN    A    {{ api_ip }}
api-int   IN    A    {{ api_ip }}
master-0  IN    A    192.168.{{ labenv_segment }}.100
master-1  IN    A    192.168.{{ labenv_segment }}.101
master-2  IN    A    192.168.{{ labenv_segment }}.102
worker-0  IN    A    192.168.{{ labenv_segment }}.120
worker-1  IN    A    192.168.{{ labenv_segment }}.121
worker-2  IN    A    192.168.{{ labenv_segment }}.122
